.locations-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    grid-gap: 20px;
}

.location img {
    object-fit: cover;
    height: 125px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.location {
    background-color: var(--light-pink);
    border-radius: 10px;
}