@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --light-pink: #FFDBD6;
    --background: #F5CAC3;
    --foreground: #F28482;
    --accent: #84A59D;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    position: relative;
    top: -90px;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 0;
}

#logo {
    max-height: 275px;
}

#logo-text {
    font-family: 'Erica One', sans-serif;
    font-size: 40px;
    margin-top: -110px;
}

nav {
    margin-top: 100px;
    margin-bottom: 50px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0 20vw;
}

nav > ul > li > a {
    font-weight: bold;
    color: var(--foreground);
    text-decoration: none;
    padding: 10px 15px;
}

nav > ul > li > a:hover {
    background-color: var(--foreground);
    color: white;
    border-radius: 5px;
}

footer {
    margin-top: 100px;
    background-color: var(--light-pink);
    padding: 30px;
    text-align: center;
    font-size: small;
    color: var(--foreground);
}

main {
    margin: 0 5vw;
}