* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #f0ead2;
    font-family:'Courier New', Courier, monospace;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #6a994e;
}

nav > ul > li > a:hover {
    color: white;
    background-color: #6a994e;
}

header {
    text-align: center;
    margin-bottom: 75px;
}

h1 {
    color: #7f5539;
    margin-bottom: 10px;
}

nav {
    margin-bottom: 20px;
}